In [63]:
import pandas as pd
import requests
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException 
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys

In [64]:
#Lets first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Admin\Desktop\flip robo\chromedriver.exe")

In [65]:
url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001'
driver.get(url)

In [66]:
driver.set_window_size(1024, 600)
driver.maximize_window()

In [67]:
# selection = driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p/img")
# selection.click()

In [68]:
# def append(path,list_): # This is a function I have created which will be used throughout the assignment to not repeat same piece of code again and again
#     for i in path:
#         list_.append(i.text)

In [69]:
def scroll_down():
    for i in range(32):
        driver.execute_script("window.scrollTo(0, 1299999)") 
        time.sleep(0.5)

In [70]:
Brand=[]
Model=[]
Variant=[]
Manufacturing_year=[]
Driven_kilometers=[]
Fuel=[]
No_of_owners=[]
Location=[]
Price=[]

In [71]:
def Cars(location):
   
    model=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/h2")
    for i in model:
        #print(i.text)
        str=i.text
        m1=str.split(" " ,2)
        model=str.split()[1]
        Model.append(m1[2])
        Manufacturing_year.append(m1[0])
        Brand.append(m1[1])

    variant=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div/div/p")
    for i in variant:
        #print(i.text)
        Variant.append(i.text)

    Km=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]")
    for i in Km:
        #print(i.text)
        str1=i.text
        str1=str1.split()[0] 
        str1=str1.replace(",","")
        #print(str1)
        str1=int(str1)
        #print(type(str1))
        Driven_kilometers.append(str1)

    owner=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]")
    for i in owner:
        #print(i.text)
        No_of_owners.append(i.text)

    fuel=driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]")
    for i in fuel:
        #print(i.text)
        Fuel.append(i.text) 
 

    price=driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]/span")
    for i in price:
        #print(i.text)
        str2=i.text
        str2=str2[1:]
        
        str2=str2.replace(",","")
        #print(str2)
        str1=int(str2)
        #print(type(str2))
    
        Price.append(str2) 
        Location.append(location)

In [72]:
Cars('New Delhi')

In [73]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price

In [74]:
# df

In [75]:
url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=134&pinId=201301'
driver.get(url)

In [76]:
Cars('Noida')

In [77]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price

In [78]:
df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
5,Maruti,Swift,2015,VDI ABS Manual,New Delhi,Diesel,1st Owner,44638,432499
6,Maruti,Ciaz,2014,VDI PLUS Manual,New Delhi,Diesel,1st Owner,113535,492099
7,Maruti,Swift,2013,VDI Manual,New Delhi,Diesel,1st Owner,114506,330499
8,Hyundai,i20,2013,SPORTZ 1.4 CRDI Manual,New Delhi,Diesel,1st Owner,64361,364899
9,Maruti,Wagon R 1.0,2013,LXI Manual,New Delhi,Petrol,1st Owner,151452,234499
10,Maruti,Swift,2015,VDI ABS Manual,New Delhi,Diesel,1st Owner,89196,406599
11,Maruti,Swift,2014,VXI Manual,New Delhi,Petrol,1st Owner,107206,392399
12,Maruti,Swift,2013,VDI Manual,New Delhi,Diesel,1st Owner,122416,319399
13,Ford,Ecosport,2014,1.5 TITANIUMTDCI OPT Manual,New Delhi,Diesel,1st Owner,156205,455199
14,Maruti,Swift,2013,VDI Manual,New Delhi,Diesel,1st Owner,83143,327199
15,Maruti,Swift,2014,VDI Manual,New Delhi,Diesel,1st Owner,64370,380399
16,Hyundai,Elite i20,2015,MAGNA 1.4 CRDI Manual,New Delhi,Diesel,1st Owner,59041,484199
17,Maruti,Ciaz,2017,VDI+ SHVS Manual,New Delhi,Diesel,1st Owner,82599,584899
18,Maruti,Swift,2013,ZDI Manual,New Delhi,Diesel,1st Owner,77409,397899
19,Mahindra,XUV500,2013,W8 FWD Manual,New Delhi,Diesel,1st Owner,20852,579899
20,Maruti,A Star,2009,LXI Manual,Noida,Petrol,1st Owner,30867,175399
21,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,Noida,Petrol,1st Owner,62625,446899
22,Maruti,Ritz,2010,VXI GENUS Manual,Noida,Petrol,1st Owner,96362,231399
23,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,Noida,Diesel,2nd Owner,62491,312299
24,Maruti,Swift Dzire,2014,VDI BS IV Manual,Noida,Diesel,1st Owner,96978,416399
25,Maruti,Swift,2015,VDI ABS Manual,Noida,Diesel,1st Owner,44638,432499
26,Maruti,Ciaz,2014,VDI PLUS Manual,Noida,Diesel,1st Owner,113535,492099
27,Maruti,Swift,2013,VDI Manual,Noida,Diesel,1st Owner,114506,330499
28,Hyundai,i20,2013,SPORTZ 1.4 CRDI Manual,Noida,Diesel,1st Owner,64361,364899
29,Maruti,Wagon R 1.0,2013,LXI Manual,Noida,Petrol,1st Owner,151452,234499
30,Maruti,Swift,2015,VDI ABS Manual,Noida,Diesel,1st Owner,89196,406599
31,Maruti,Swift,2014,VXI Manual,Noida,Petrol,1st Owner,107206,392399
32,Maruti,Swift,2013,VDI Manual,Noida,Diesel,1st Owner,122416,319399
33,Ford,Ecosport,2014,1.5 TITANIUMTDCI OPT Manual,Noida,Diesel,1st Owner,156205,455199
34,Maruti,Swift,2013,VDI Manual,Noida,Diesel,1st Owner,83143,327199
35,Maruti,Swift,2014,VDI Manual,Noida,Diesel,1st Owner,64370,380399
36,Hyundai,Elite i20,2015,MAGNA 1.4 CRDI Manual,Noida,Diesel,1st Owner,59041,484199
37,Maruti,Ciaz,2017,VDI+ SHVS Manual,Noida,Diesel,1st Owner,82599,584899
38,Maruti,Swift,2013,ZDI Manual,Noida,Diesel,1st Owner,77409,397899
39,Mahindra,XUV500,2013,W8 FWD Manual,Noida,Diesel,1st Owner,20852,579899

In [79]:
url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=5&pinId=122001'
driver.get(url)

In [80]:
Cars('Gurgaon')

In [81]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price

In [82]:
url="https://www.cars24.com/buy-used-car?carName=RENAULT&sort=P&storeCityId=5732&pinId=600001"
driver.get(url)

In [83]:
Cars('Chennai')

In [84]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price

In [85]:
url="https://www.cars24.com/buy-used-car?carName=RENAULT&sort=P&storeCityId=2423&pinId=411001"
driver.get(url)

In [86]:
Cars('Pune')

In [87]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price
df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
...,...,...,...,...,...,...,...,...,...
95,Renault,Duster,2015,85 PS RXE Manual,Pune,Diesel,1st Owner,172569,488899
96,Renault,Duster,2018,RXZ AMT 110 PS Automatic,Pune,Diesel,1st Owner,36340,919699
97,Renault,Kwid,2018,RXT 1.0 EASY-R AT OPTION Automatic,Pune,Petrol,1st Owner,8054,471399
98,Renault,Kwid,2019,RXT 1.0 EASY-R AT OPTION Automatic,Pune,Petrol,1st Owner,8651,504599
99,Renault,Kwid,2018,RXT 1.0 EASY-R AT OPTION Automatic,Pune,Petrol,1st Owner,12257,403199

In [88]:
url="https://www.cars24.com/buy-used-car?carName=RENAULT&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [89]:
Cars('Mumbai')
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price

In [90]:

df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
...,...,...,...,...,...,...,...,...,...
107,Renault,Kwid,2016,1.0 RXT Opt Manual,Mumbai,Petrol,1st Owner,30114,339199
108,Renault,Duster,2020,RXZ Manual,Mumbai,Petrol,1st Owner,16887,998999
109,Renault,Duster,2018,RXS 85 PS Manual,Mumbai,Diesel,1st Owner,31130,785199
110,Renault,Kwid,2017,RXT Manual,Mumbai,Petrol,1st Owner,39015,344799
111,Renault,Kwid,2019,RXL Manual,Mumbai,Petrol,1st Owner,27241,385299

In [91]:
url="https://www.cars24.com/buy-used-car?carName=TOYOTA&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [92]:
Cars("Mumbai")
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price

In [93]:
url="https://www.cars24.com/buy-used-maruti-cars-kolkata/"
driver.get(url)

In [94]:
Cars("Kolkata")

In [95]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price
df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
...,...,...,...,...,...,...,...,...,...
147,Maruti,Dzire,2018,VXI AMT Automatic,Kolkata,Petrol,1st Owner,17593,624999
148,Maruti,Swift Dzire,2012,VXI 1.2 BS IV Manual,Kolkata,Petrol,1st Owner,65238,349399
149,Maruti,Swift,2018,VXI AMT Automatic,Kolkata,Petrol,1st Owner,18958,565899
150,Maruti,Dzire,2018,ZXI Plus Manual,Kolkata,Petrol,1st Owner,55711,694399
151,Maruti,Swift,2018,VXI Manual,Kolkata,Petrol,1st Owner,79284,537899

In [96]:
url="https://www.cars24.com/buy-used-car?carName=MAHINDRA&sort=P&storeCityId=4709&pinId=560001"
driver.get(url)

In [97]:
Cars('Bengaluru')

In [98]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price
df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
...,...,...,...,...,...,...,...,...,...
157,Mahindra,XUV500,2017,W6 4X2 Manual,Bengaluru,Diesel,1st Owner,36087,1294699
158,Mahindra,XUV500,2018,W7 FWD Manual,Bengaluru,Diesel,1st Owner,45359,1325799
159,Mahindra,XUV500,2020,W9 Manual,Bengaluru,Diesel,1st Owner,10813,1810499
160,Mahindra,XUV500,2017,W6 4X2 Manual,Bengaluru,Diesel,1st Owner,35030,1251099
161,Mahindra,XUV500,2018,W7 FWD Manual,Bengaluru,Diesel,1st Owner,45803,1408799

In [99]:
url="https://www.cars24.com/buy-used-car?carName=MARUTI&sort=P&storeCityId=2378&pinId=400001"
driver.get(url)

In [100]:
Cars('Mumbai')

In [101]:
df=pd.DataFrame({})
df['Brand']=Brand
df['Model']=Model
df['Year']=Manufacturing_year
df['Variant']=Variant
df['Location']=Location
df['Version']=Fuel
df['Number of Owners']=No_of_owners
df['KmDriven']=Driven_kilometers
df['Price']=Price
df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
...,...,...,...,...,...,...,...,...,...
177,Maruti,Dzire,2018,VXI Manual,Mumbai,Petrol,1st Owner,40267,685199
178,Maruti,Baleno,2016,ALPHA DDIS 190 Manual,Mumbai,Diesel,1st Owner,85248,642999
179,Maruti,Baleno,2016,ZETA 1.2 K12 CVT Automatic,Mumbai,Petrol,1st Owner,5318,741599
180,Maruti,Dzire,2018,VXI Manual,Mumbai,Petrol,1st Owner,18895,704199
181,Maruti,Dzire,2018,VXI Manual,Mumbai,Petrol,1st Owner,14904,704199

In [103]:
df.to_csv("Cars24.csv")

In [104]:
df.to_excel("Cars24.xlsx")

In [105]:
df

,Brand,Model,Year,Variant,Location,Version,Number of Owners,KmDriven,Price
0,Maruti,A Star,2009,LXI Manual,New Delhi,Petrol,1st Owner,30867,175399
1,Volkswagen,Vento,2014,HIGHLINE PETROL Manual,New Delhi,Petrol,1st Owner,62625,446899
2,Maruti,Ritz,2010,VXI GENUS Manual,New Delhi,Petrol,1st Owner,96362,231399
3,Hyundai,Grand i10,2015,MAGNA 1.1 CRDI Manual,New Delhi,Diesel,2nd Owner,62491,312299
4,Maruti,Swift Dzire,2014,VDI BS IV Manual,New Delhi,Diesel,1st Owner,96978,416399
...,...,...,...,...,...,...,...,...,...
177,Maruti,Dzire,2018,VXI Manual,Mumbai,Petrol,1st Owner,40267,685199
178,Maruti,Baleno,2016,ALPHA DDIS 190 Manual,Mumbai,Diesel,1st Owner,85248,642999
179,Maruti,Baleno,2016,ZETA 1.2 K12 CVT Automatic,Mumbai,Petrol,1st Owner,5318,741599
180,Maruti,Dzire,2018,VXI Manual,Mumbai,Petrol,1st Owner,18895,704199
181,Maruti,Dzire,2018,VXI Manual,Mumbai,Petrol,1st Owner,14904,704199