In [710]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [711]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [712]:
#Lets first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Admin\Google Drive\Download\chromedriver_win32 (2)\chromedriver.exe")

#####  Q1.  Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [716]:
#  url on the web drive
driver.get("https://www.naukri.com")

In [722]:
#find_element for job search bar
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [723]:
#write on search bar
search_job.send_keys("Data Analyst")

In [726]:
#findind web elemnet for search location bar using absolute xpath
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [727]:
#finding element for the job location bar
search_locn.send_keys("Bangalore")

In [729]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [730]:
search_btn.click()

In [731]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="ac7e8cc7-9627-4b0b-8032-5becc6a8c03c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="2812e3e2-e2d8-40f5-9deb-db4b811872a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="9e9e160e-cd8b-4d20-b068-8fbe7f21424f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="0fec2fbb-f5b7-4d93-aada-4ca0668eaf23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="9e46579f-53ab-46dc-b9b2-82eb997c9479")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="226e2ec2-0a35-42ae-8c72-e4856d56e411")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="3e07f078-a7f3-4b32-874c-c052ad8ffc7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="165035e3-3ab5-4761-90ad-88ea987d8f25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="83aa0dbd-c203-4c2e-a318-292ff9984953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="f5b86a5c-9124-490d-93c2-5adb8dc6c6c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="56a4bf6f-d43f-46b1-abe9-766a7e69d861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="2829b9a8-44a1-4f75-9408-f12f8cf0a821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="44d83f40-e3d5-4afe-823f-4df28310e9dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="1dfdd8dd-891a-4c4a-8d08-74b0560ecd6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="83ed0a32-3fdb-4fba-843d-a6e43e98d745")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="8557f652-9dbd-4330-8325-9894362f720b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="cc0a0429-932a-4552-b7b4-26a7276741be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="a7c494cc-3290-4b77-9ee1-b706ba982091")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="f1802d54-e060-43c0-99c6-0d1e2f409636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dfffa76a7dea2ebef22ddf2c3909cd61", element="d9c9cc65-2392-47c3-a8f9-b38d8708f097")>]

In [732]:
#Extracting the text from these tags one by one by looping over these tags
Job_titles=[]
for i in title_tags:
    Job_titles.append(i.text)
Job_titles[:10]

['Junior Data Analyst/ Scientist- Fresher Position',
 'Assistant Clinical Data Analyst',
 'ESG - Data Analyst/Work from Home opportunity For fresher',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Senior Data Analyst - CRM',
 'Data Analyst',
 'Consultant - Data Analyst']

In [737]:
#extracting all web elements having company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited',
 'SPI technologies india private limited',
 'Flipkart',
 'JEDI SERVICES PRIVATE LIMITED',
 'Snaphunt',
 'Axim Technologies',
 'Gojek Tech',
 'Flipkart',
 'Flipkart']

In [784]:
exp_tags=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
Experience=[]
for i in exp_tags:
    Experience.append(i.text)
Experience[:10]

['0-3 Yrs', '0-0 Yrs']

In [785]:
# Experience=[]
# for i in exp_tags:
#     Experience.append(i.text)
# Experience

['0-3 Yrs', '0-0 Yrs']

In [780]:
locn_tags=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16 "]')
Location=[]
for i in locn_tags:
    Location.append(i.text)
Location[:10]

['Not disclosed',
 '0-2 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 'Not disclosed',
 '4-6 Yrs',
 'Not disclosed',
 'Bengaluru/Bangalore',
 'Any Graduate',
 '3,00,000 - 7,50,000 PA.']

In [787]:
len(Job_titles), len(company_names),len(Experience),len(Location)

(20, 20, 2, 56)

In [786]:
df=pd.DataFrame()
df['Job_titles']=Job_titles
df['Company']= company_names
df['Experience']=Experience
df['Location']=Location
df

ValueError: Length of values (2) does not match length of index (20)

##### Q2 . Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name

In [684]:
#importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

In [685]:
#Lets first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Admin\Google Drive\Download\chromedriver_win32 (2)\chromedriver.exe")

In [686]:
#get the webpage of https://www.naukri.com/
url='https://www.naukri.com/'
driver.get(url)

In [687]:
#Now scrape data for “Data Scientist” .
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [688]:
search_job.send_keys('Data Scientist')

In [689]:
#Job position in “Bangalore” location
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [693]:
search_locn.send_keys('Bangalore')

In [694]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [695]:
search_btn.click()

In [696]:
#Lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="da91ca50-20b5-49fe-8b90-5eba44727cd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6f2b817e-e3e2-45f4-bec5-5d0d01eb1d53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="1a0b139d-150e-4df1-a9b2-b0eddc47b49b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="f779e129-8df4-43fe-8d0f-fa29efeb9b09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="22db9c5f-78d7-4aa4-9330-87c2723d644f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="39975c1e-fdb8-47ed-9285-8f910509e5f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="f9b4fed9-fd53-412c-b278-f4499a0a8600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="d9e2eb01-fbaa-439b-a7e7-172c58d217a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="5d75c16a-5a44-45f1-b32f-369b4942efdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="0b30c285-c294-42db-a0f8-719a79753f9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6a52ef81-171b-4bd4-9831-3b8fb8bbc1db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="aac0ec0b-8536-46eb-af92-40501f61638c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="4f706087-1dbc-44e0-8a64-990bc214f994")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="4dfc93bd-4168-4017-a4d7-4eb8fa38b719")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="2950890a-df1c-4422-ad41-7ce3ce89af37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="b3a39ffd-e0c1-447c-b4df-556224c547e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="9c4c42cf-bf49-4548-96fa-34f24f70da04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6dce22df-3e0a-4bfc-83fc-1082351d4d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="ae941726-4cb7-4366-bb94-6cfbbd037406")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="1fcfff49-f147-438c-b563-2f11f6651acd")>]

In [697]:
#Extracting the text from these tags one by one by looping over these tags
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles[:10]

['Sr Data Scientist',
 'Associate Data Scientist',
 'Junior Programmer - Data Scientist',
 'Senior/Lead Data Scientist - (Revenue Management)',
 'Senior/Lead - Data Scientist (Supply Chain)',
 'Lead/Senior Data Scientist (NLP)',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Associate Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [698]:
#lets extract all the tags having the location of the job
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="e1db40b8-3bc9-4f06-82b0-1a3da1e8e910")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="f5fb4035-a1c3-41a1-b80c-10f19f384815")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6244c82e-2751-4fa3-9e44-ffb0f5995ef8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="2b0d18a0-f65f-4c0c-898d-5e9e8f6bfc4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="0f0efa21-04bf-4122-9e8d-ca4c4faf3ded")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="8a76ef11-8e0f-4088-a521-12c34b7dd284")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6baa6fe4-98a0-4a50-880a-1b8b760794b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="fe480016-7540-41ba-90eb-816fb9d7a4c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="216d46ef-f315-491d-896f-9736211377f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="4e36662b-773b-43fa-a202-baed73143cfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="09c62d1e-6ea3-42e0-be67-33b319a1fceb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="e0de0e6c-eaf7-47af-9bd7-6579828932c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="102b73da-1251-4344-b766-fac4657f9e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="4a4fdf12-5a1c-4178-ba51-7d8fe9647ca3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="7bdbc02e-28aa-47ce-b3a3-7cefa02d9b44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="45937a01-b771-4faa-acfc-54d17065b953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="71dc6c5f-4d09-44d6-bda1-93cbc9c34722")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="35d798ff-0037-4fcf-b1d0-6264ad0c315b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="031168e1-9c75-4805-bd8d-6f601f36d795")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="025200bd-febc-405d-a7a2-fdf6d888fe33")>]

In [699]:
#Extracting the text from these tags one by one by looping over these tags
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [700]:
#lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="ef755214-69f4-469b-bf31-2a0e9faeaa30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6a5d73c2-74f2-4d93-9ffd-061d71df8672")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="fab9c2de-39e6-4482-b970-df1d45766959")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="3c153277-512d-40ef-80ee-8f5fdbfece9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="aaae7707-b899-4e3f-bf70-e4de1e98363c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="77b4c8cc-0d4a-4541-b7a2-f614f099da74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="9b325848-9701-4cc9-a4b7-a8374e488362")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="00735246-67ec-4da9-9920-f1009fbe97fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="1d24ca35-0683-4440-aaba-a20b2b2c68bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="c394dcef-9e66-4b73-8e56-7d591668aa7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="34551afe-be67-442e-8f82-8161f8d85302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="15c95689-31fd-4baa-8932-1c39e4a38097")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="6fd0452a-5c45-4939-836e-a9cbf076c079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="65ff9ffc-2dc4-4262-a8fc-902bae97dc2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="1e474faf-e05d-4988-b967-398e8e580d24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="d4493a50-ff77-45ad-91ff-2b6272f9241c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="cfa9b3ee-d7b6-4d8e-995a-cea586bd859d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="08c9e8a7-51b6-4a2f-bcc9-e7a6de31983e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="b86c0d9f-909b-4a92-b298-08bff6704330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cf78359343a11ed358b0c0ce055c400", element="707cf513-4492-4380-8b25-d2b009ec7523")>]

In [701]:
#Extracting the text from these tags one by one by looping over these tags
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names[:10]

['Siemens',
 'Shell',
 'GSK India',
 'o9 Solutions Management India Private Limited',
 'o9 Solutions Management India Private Limited',
 'Samya.AI A FRACTAL Entity',
 'Sejal Consulting Hub',
 'Shell',
 'Dell',
 'Dell']

In [702]:
len(locations_list),len(company_names),len(job_titles)

(20, 20, 20)

In [704]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Location']=locations_list
jobs['Company']=company_names
jobs

,Title,Location,Company
0,Sr Data Scientist,Bangalore/Bengaluru,Siemens
1,Associate Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
2,Junior Programmer - Data Scientist,Bangalore/Bengaluru,GSK India
3,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
4,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
5,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
6,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub
7,Associate Data Scientist,Chennai,Shell
8,Senior Data Scientist,Bangalore/Bengaluru,Dell
9,Senior Data Scientist,Bangalore/Bengaluru,Dell
10,Sr . Data Scientist,"Mumbai, Bangalore/Bengaluru",RKSV
11,Sr. Data Scientist,Bangalore/Bengaluru,Siemens
12,Sr. Data Scientist,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\...",NutaNXT Technologies
13,"Senior Data Scientist, Data Sciences",Bangalore/Bengaluru,Vmware
14,Data Scientist,Chennai,Shell
15,Data Scientist,Pune,Amdocs
16,Lead Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Gadgeon Smart Systems
17,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
18,Senior Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Successr HR Tech PVT LTD
19,Sr Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Successr HR Tech PVT LTD

#####  Q3.scrape data from https://www.naukri.com/ and search for “Data Scientist” designation for first 10 job results and also scrape the job-title, job-location, company name, experience required for Delhi/NCR location.

In [656]:
#Lets first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Admin\Google Drive\Download\chromedriver_win32 (2)\chromedriver.exe")

url='https://www.naukri.com/'
driver.get(url)

In [657]:
search_job1=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job1

In [658]:
#write on search bar
search_job1.send_keys("Data Scientist")

In [659]:
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [660]:
search_locn.send_keys('Delhi/NCR')

In [663]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [668]:
search_btn.click()

In [669]:
#Locating the salary filter
filter_button=driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [670]:
#Lets extract all the tags having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="c950763f-6688-40bc-b818-a21e1780dca3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="34e15597-7d98-4df2-b315-6975b6920c95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="d2bb6305-d0ad-45c5-9b7f-f4846158b0f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="3be101b7-52a4-4eba-aa4b-1a8eb549d3ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="0e93f79d-d33a-44ba-8d8e-104e6b960224")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="540053c5-1bc3-4e82-bf76-726504f6b6d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="18771c82-3032-4d15-b00e-b07bd5adafea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="e21f510b-dd8f-4d76-9523-81d46ee18461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="33f4f78c-8c95-4030-8096-eadaddf0d54c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="c3e00f79-d936-4612-b27d-df94f4294409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="5eef9e54-05b6-48cd-a327-aebe92fd3589")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="e3e85ce3-04e8-4201-8419-f37c37e570bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="5469fab8-8149-4184-b637-0d681af3df23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="4f3e9581-d434-4a85-b021-87db4416ffc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="9a106098-deb0-4dcd-a086-d2347c9bbc73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="80721eb8-5652-48d1-900d-6f24fbaf5f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="5c6d514e-00a3-4be7-b0c7-c1b63fab9bd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="b73a1513-5a8b-43e2-87d0-101dcad57696")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="a3217643-e779-4663-9ed7-ed36a0f0e301")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="6744168a-2281-4884-8ae6-f00b6059a3f7")>]

In [671]:
#Extracting the text from these tags one by one by looping over these tags
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles[:10]

['Data Scientist',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Senior Data Scientist I',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist role',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist role',
 'Data Scientist role']

In [672]:
#lets extract all the tags having the location of the job
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags

[<selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="b5422300-2d0b-4c87-b743-d0ddd4728448")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="56fbcb38-2273-437b-a091-c7de8717d842")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="db66f7d1-a89e-4510-a333-4f33e0a37e24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="7117b40f-fc97-4fb2-86d6-71ea2428ec48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="ce38d398-8c03-41d8-afb6-624c0d29ec0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="022c34c4-8dae-4572-afe8-dac098a112d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="65f1a120-ec53-43c3-a90f-adece296eb3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="11197f7e-b8af-498d-bc6a-9e5a07951a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="10c38e50-d3bf-45c6-99d2-3cb2a88f1d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="4acbad41-987e-4256-a680-e6ea1c02709d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="cc27e386-55d8-43fd-8d92-8e6690d31424")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="000ca2ab-8f27-4086-90d6-324560e06566")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="7cd389c3-586e-40fd-b9b9-51be92948fcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="62d717e9-9c4c-4b6a-8fef-2287fad1a7b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="35c8b618-866a-4324-b353-5e32c73df538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="af23cefb-64a5-409d-b354-49951912dd8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="3dd48aec-bb61-4a40-8b6a-1d029eeb5593")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="fc7f7a8e-a327-45e9-aaa9-e0c6a6de17d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="fadcc690-e579-4e57-861f-9df47ffd6480")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="20a8c6d6-db55-4829-8281-421d07b0a3ec")>]

In [673]:
#Extracting the text from these tags one by one by looping over these tags
locations_list=[]
for i in locations_tags:
    locations_list.append(i.text)
locations_list[:10]

['Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)']

In [674]:
#extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="a832de21-e829-40ae-941b-e4a10c7427c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="faba9346-0a13-4a34-a414-e00c151461bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="a396045d-5f81-4ec0-8e84-305f291f7fd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="ef252196-0549-423e-b235-b081d80f193a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="40abfff6-f13e-440b-91e8-b03638f70cf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="9675db95-6440-4a33-a725-0c084bde2a2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="1c45fda2-6f0a-45d8-9aa5-e43550113c31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="aeae93d1-fa0b-464f-aea3-aaf180a8c000")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="d766ccfe-4ab4-46fe-a12d-8fdabd4214c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="5cdc9e82-12e2-47f0-84c8-fe45045925cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="708c34dd-2c13-43ab-8ff9-b122a8074194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="e9eadff7-21e3-4284-ae4e-ac994fd91bb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="1ed580be-c91f-4020-987c-5fc255574338")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="9f071f2f-3358-4735-b194-be5b705cbcf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="de8eaba5-b4dc-4d6f-9b6c-eea89c189e81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="1bc97518-075c-4e92-9428-fd60d90bf177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="bafc3536-5642-443f-bd27-29d47d1c76dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="55e92966-a990-410c-91ff-7503d6419e41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="245429cb-6fda-4c32-b9fc-7a35611bd1fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="b6749c65-3bf3-4334-8a7d-f8b5b1187605")>]

In [675]:
#Extracting text from tags one by one by looping over these tags
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names[:10]

['T & A Solutions',
 'Schlesinger Group',
 'HCL',
 'Delhivery',
 'Pluto seven business solutions (p) limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited']

In [677]:
#extract all the tags having the experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="e548deca-9201-4832-bb10-1a0736f2741e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="73d861a3-f3b8-4698-8540-3bc093923f73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="b0ffe187-1003-42b5-ae87-efa36e7eb08e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="4aca9e25-23f8-426a-91f1-34dfcd4e35f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="32682171-0b30-44b2-aaa8-038c1c998c29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="c9d2f7f8-9aad-45d6-b928-50bb741b5fa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="9804d016-4409-4e79-a8a0-b28d13b55923")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="ba643464-c0f0-47d4-841f-d49358605917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="46b275f7-4887-44b4-8b1e-f43f846bdcad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="adce28a6-d528-4130-9070-099c2c2479ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="89a7262f-33b3-485a-a1bb-511cf957fba8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="311a274a-0685-47ac-a216-d8a7fd4fc6f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="d69393e6-4770-445e-954a-280ddeb3b2dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="d5a8b65e-828f-4006-bdd1-6143d07b8294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="e6c4a46d-87b6-4e07-9f5b-d02df6634c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="446eb485-a30e-4d9e-a36a-96f1ada80f6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="1f3f08a4-c2dc-4dae-92c6-e111ddad8acd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="567453f7-1e0b-45db-8f81-dfad388905b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="f03281a1-018d-4309-9d00-9c937adf0893")>,
 <selenium.webdriver.remote.webelement.WebElement (session="126c73221fe888d7cc3eea094fcffe65", element="bca24475-3dfb-4359-a0c2-a211e0600d5b")>]

In [678]:
#Extracting the text from these tags one by one by looping over these tags
experience_list=[]
for i in experience_tags:
    experience_list.append(i.text)
experience_list[:10]

['2-6 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '1-3 Yrs']

In [679]:
#create a dataframe and checking the length of it
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [682]:
df=pd.DataFrame({})
df['Job Title']=job_titles
df['Cocation']=locations_list
df['company']=company_names
df['Experience_required']=experience_list
df[0:10]

,Job Title,Cocation,company,Experience_required
0,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
1,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
3,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
4,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
5,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-4 Yrs
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
7,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
8,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
9,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs

##### Q4  Scrape data of first 100 sunglasses listings on flipkart.com.

In [622]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver.get(url)

In [623]:
# code to write sunglasses in the search box
search_prod = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_prod.send_keys("Sunglasses")

In [624]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [625]:
search_btn.click()

In [626]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
description=[]
for i in prod_description:
    try:
        description.append(i.text)
    except:
        description.appendend("No description available")

# code to extract price of the product
prod_price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price=[]
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount=[]
for i in prod_discount:
    discount.append(i.text)
    
# code to click on the next button for page 2
search_btn1 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_btn1.click()

In [627]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_description:
    try:
        description.append(i.text)
    except:
        description.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [629]:
# code to click on the next button for page 3
search_btn2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_btn2.click()

In [630]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_description:
    try:
        description.append(i.text)
    except:
        description.append("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)
    

# creating the data frame now
df = pd.DataFrame({})
df['Sunglasses Brand']=brand[:100]
df['Sunglasses Description']=description[:100]
df['Sunglasses Price']=price[:100]
df['Sunglasses Discount']=discount[:100]
df

,Sunglasses Brand,Sunglasses Description,Sunglasses Price,Sunglasses Discount
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599,80% off
2,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
4,SRPM,UV Protection Wayfarer Sunglasses (56),₹198,84% off
...,...,...,...,...
95,Cristiano Ronnie,"Toughened Glass Lens, UV Protection Rectangula...",₹664,66% off
96,New Specs,"UV Protection Round, Oval Sunglasses (54)","₹1,161",68% off
97,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹266,79% off
98,Fastrack,"Polarized, Gradient Cat-eye Sunglasses (57)",₹225,85% off
99,Cristiano Ronnie,Others Retro Square Sunglasses (Free Size),₹664,66% off

##### Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

In [553]:
# getting the flipkart shopping site url on the web driver
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

review = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
review.click()

In [555]:
rating=[]
review_summ=[]
full_review=[]

rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)
rating

review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)
review_summ

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)    
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [556]:
page2 = driver.find_element_by_link_text("2")
page2.click()

In [558]:
rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)


    review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)


freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [559]:
#do click next page using class_name function
page3 = driver.find_element_by_link_text("3")
page3.click()

In [560]:
#extract all the tags and then extracting the text from these tags one by one by looping over these tags
rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)


review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)


freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [562]:
#do click next page using class_name function
page4 = driver.find_element_by_link_text("4")
page4.click()

#extract all the tags and then extracting the text from these tags one by one by looping over these tags
rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)


review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)


freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [564]:
#do click next page using class_name function
page5 = driver.find_element_by_link_text("5")
page5.click()

#extract all the tags and then extracting the text from these tags one by one by looping over these tags
rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)

review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [566]:
#extract all the tags and then extracting the text from these tags one by one by looping over these tags
page6 = driver.find_element_by_link_text("6")
page6.click()

rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)

review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [ ]:
page7 = driver.find_element_by_link_text("7")
page7.click()

rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)


review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)


freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [567]:
page8 = driver.find_element_by_link_text("8")
page8.click()

rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)


review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)


freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [ ]:
page9 = driver.find_element_by_link_text("9")
page9.click()

rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)


review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)


freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [569]:
page10 = driver.find_element_by_link_text("10")
page10.click()

rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)

review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [571]:
page11 = driver.find_element_by_link_text("11")
page11.click()
rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rat:
    rating.append(i.text)

review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review: 
    review_summ.append(i.text)

freview = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in freview:
    full_review.append(i.text)

In [575]:
df=pd.DataFrame({})
df['rating']=rating[0:100]
df['review_summary']=review_summ[0:100]
df['full_review']=full_review[0:100]
df

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Excellent,iPhone is delivered on time. Display is great ...
96,5,Worth every penny,This is my first ever iPhone.\nAnd I truly don...
97,5,Fabulous!,Really very nice... my dad gifted me really I ...
98,4,Brilliant,I got this phone for good price hence 5 star f...
99,5,Just wow!,I genuinely liked it. One of the best mobile p...

##### Q6.  Scrape data for first 100 sneakers you find when you visit flipkart.com

In [418]:
#getting url on web driver
driver.get('https://www.flipkart.com/')

In [419]:
product= driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
product.send_keys("sneakers")

In [420]:
select= driver.find_element_by_xpath("//button[@type='submit']")
select.click()

In [423]:
brand=[]
product_des=[]
price=[]
discount=[]

In [425]:
product_brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in product_brand:
    brand.append(i.text)    

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc: 
    product_des.append(i.text)

product_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in product_price:
    price.append(i.text)

product_discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in product_discount:
    discount.append( i.text)

In [426]:
page2 = driver.find_element_by_link_text("2")
page2

In [427]:
product_brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in product_brand:
    brand.append(i.text)    

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc: 
    product_des.append(i.text)

product_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in product_price:
    price.append(i.text)

product_discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in product_discount:
    discount.append( i.text)

In [428]:
page3 = driver.find_element_by_link_text("3")
page3.click()

In [429]:
product_brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in product_brand:
    brand.append(i.text)    

product_desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for i in product_desc: 
    product_des.append(i.text)

product_price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in product_price:
    price.append(i.text)

product_discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in product_discount:
    discount.append( i.text)

In [439]:
df=pd.DataFrame({})
df['brand']=brand[0:100]
df['product_decription']=product_des[0:100]
df['price']=price[0:100]
df['discount']=discount[0:100]
df

,brand,product_decription,price,discount
0,PEHANOSA,Casuals Walking Shoes Boxing & Wrestling Shoes...,₹449,55% off
1,Longwalk,Sneakers For Women,₹348,56% off
2,Magnolia,Sneakers For Men,₹398,60% off
3,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
4,URBANBOX,Sneakers For Men,₹220,77% off
...,...,...,...,...
95,Longwalk,White Sneaker For Men Sneakers For Men,₹598,60% off
96,ASTEROID,Sneakers For Men,₹499,37% off
97,HOTSTYLE,Sneakers For Men,₹298,53% off
98,Numenzo,Sneakers For Men,₹499,54% off
99,Longwalk,Comfortable & Ultra Light Weight Sneaker Sneak...,₹348,73% off

#####  Q7. Go to the link - https://www.myntra.com/shoes  Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, And then scrape First 100 shoes data include “Brand” of the shoes , Short Shoe description, price of the shoe

In [400]:
#  url on the web drive
driver.get("https://www.myntra.com/shoes")

In [401]:
color=driver.find_element_by_xpath("//ul//li[@class='colour-listItem']")

price_range=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")
color.click()

In [402]:
price_range.click()

In [404]:
next=driver.find_element_by_xpath("//a[@rel='next']")

In [405]:
Brand=[]
Description=[]
Price=[]

In [406]:
shoe_brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")

shoe_des=driver.find_elements_by_xpath("//h4[@class='product-product']")

shoe_price=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

In [407]:
for i in shoe_brand:
    Brand.append(i.text)
    
for i in shoe_des:
    Description.append(i.text)
    
for i in shoe_price:
    Price.append(i.text)

In [409]:
next.click()

In [410]:
Brand1=[]
Description1=[]
Price1=[]

In [411]:
shoe_brand1=driver.find_elements_by_xpath("//h3[@class='product-brand']")

shoe_des1=driver.find_elements_by_xpath("//h4[@class='product-product']")

shoe_price1=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

In [413]:
for i in shoe_brand1:
    Brand1.append(i.text)
    
for i in shoe_des1:
    Description1.append(i.text)
    
for i in shoe_price1:
    Price1.append(i.text)

In [414]:
x=Brand+Brand1
y=Description+Description1
z=Price+Price1

In [415]:
x=x[0:100]
y=y[0:100]
z=z[0:100]
print(len(x),len(y),len(z))

100 100 100

In [416]:
df=pd.DataFrame({'Brand':x,'Product Description':y,'Price':z})
df

            Brand             Product Description              Price
0            Puma       Men Magnify Nitro Running  Rs. 8449Rs. 12999
1            Puma     Men Electrify Nitro Running   Rs. 7499Rs. 9999
2         Saint G       Men Mid-Top Chelsea Boots  Rs. 9810Rs. 10900
3            Puma       Women Magnify Nitro Shoes  Rs. 7799Rs. 12999
4     RARE RABBIT          Men Leather Flat Boots   Rs. 7999Rs. 9999
..            ...                             ...                ...
95           Geox            Men Leather Sneakers          Rs. 10999
96          MANGO  Women WovenDesign Sports Shoes   Rs. 7590Rs. 7990
97       DAVINCHI             Solid Slip On Shoes           Rs. 7990
98       DAVINCHI      Solid Leather Formal Shoes           Rs. 7990
99  Royal Enfield            Cabo WP Riding Boots           Rs. 8500

[100 rows x 3 columns]

##### Q8.   using https://www.amazon.in/ we have toeEnter “Laptop” in the search field and then click. then scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [391]:
url = "https://www.amazon.in/"
driver.get(url)

# code to write Laptop in the search box
search_prod = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_prod.send_keys("Laptop")

# code to click on the search button
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [393]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[13]/div/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [394]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//div[@class='a-section']")
for j in filter_button:
    if j.text=='Intel Core i9':
        j.click()
        break

In [395]:
# code to extract laptop title
Laptop_title=[]
title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[:10]:
    Laptop_title.append(i.text)

# extracting laptop rating
Laptop_rating=[]
rating = driver.find_elements_by_class_name("a-icon-alt")
for i in rating[:10]:
    Laptop_rating.append(i.get_attribute('textContent'))

# Extracting laptop price
Laptop_price=[]
price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in price[:10]:
    Laptop_price.append(i.text)
    
# checking the length to get the data frame
print(len(title), len(rating), len(price))

# creating the data frame 
df = pd.DataFrame({})
df['Laptop Title']=Laptop_title
df['Laptop Rating']=Laptop_rating
df['Laptop Price']=Laptop_price
df

22 26 25

,Laptop Title,Laptop Rating,Laptop Price
0,Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6 F...,4.2 out of 5 stars.,"39,990"
1,Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 H...,3.8 out of 5 stars.,"37,490"
2,"Lenovo Chromebook 14e 14.0"" FHD Business Lapto...",4.4 out of 5 stars.,"21,990"
3,HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...,4.1 out of 5 stars,"26,490"
4,AVITA Cosmos 2 in 1 Intel Celeron Dual Core 11...,3.7 out of 5 stars,"19,000"
5,Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...,3.0 out of 5 stars,"69,788"
6,"Lenovo V15 Intel Celeron N4020 15.6"" FHD (1080...",3.7 out of 5 stars,"85,600"
7,Lenovo IdeaPad 3 AMD 3020e 14'' HD Thin & Ligh...,3.7 out of 5 stars,
8,"Dell 15 (2021) PQC-N5030, 4GB, 256GB SSD, Win ...",4.0 out of 5 stars,"28,999"
9,HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...,4.2 out of 5 stars,"29,599"

##### Q9.   Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [367]:
driver.get("https://www.ambitionbox.com/")

In [368]:
job=driver.find_element_by_xpath("//a[@class='link jobs']")

In [369]:
job.click()

In [370]:
search_job=driver.find_element_by_xpath("//input[@class='input tt-input']")
search_job.send_keys("Data Scientist")

In [371]:
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [372]:
search_btn.click()

In [373]:
search_loc=driver.find_element_by_xpath("//div[2][@class='filter-item']")
search_loc.click()

In [374]:
location=driver.find_element_by_xpath("//input[@placeholder='Search locations']")
location.send_keys("Noida")

In [376]:
loc_btn=driver.find_element_by_xpath("//input[@id='location_Noida']")
loc_btn.click()

In [380]:
company_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")

company_rating=driver.find_elements_by_xpath("//span[@class='body-small']")

daysago=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")

In [381]:
name=[]
for i in company_name:
    name.append(i.text)
name

['Ameriprise Financial',
 'Paytm',
 'Jubilant Foodworks Limited',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'RMS Risk Management Solutions',
 'Paytm']

In [382]:
rating=[]
for i in company_rating:
        rating.append(i.text)
rating

['4.0', '3.7', '3.9', '3.7', '3.7', '4.1', '4.1', '4.1', '3.5', '3.7']

In [383]:
days_ago=[]
for i in daysago:
    days_ago.append(i.text)
days_ago

['1d ago',
 '7d ago',
 '24d ago',
 '8d ago',
 '9d ago',
 '20d ago',
 '20d ago',
 '20d ago',
 '2d ago',
 '28d ago']

In [386]:
df=pd.DataFrame({'Company Name':name,'Rating of the company':rating,'No. of days job posted':days_ago})
df

                    Company Name Rating of the company No. of days job posted
0           Ameriprise Financial                   4.0                 1d ago
1                          Paytm                   3.7                 7d ago
2     Jubilant Foodworks Limited                   3.9                24d ago
3                   CHT Sapiense                   3.7                 8d ago
4                   CHT Sapiense                   3.7                 9d ago
5                       GI Group                   4.1                20d ago
6                       GI Group                   4.1                20d ago
7                       GI Group                   4.1                20d ago
8  RMS Risk Management Solutions                   3.5                 2d ago
9                          Paytm                   3.7                28d ago

###### Q10.  Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [354]:
driver.get("https://www.ambitionbox.com/")

In [355]:
salaries=driver.find_element_by_xpath("//a[@class='link salaries']")
salaries.click()

In [356]:
srch_jp=driver.find_element_by_xpath("//input[@class='tt-input']")
srch_jp.send_keys("Data Scientist")

In [357]:
dept=driver.find_element_by_xpath("//i[1][@class='icon-search']")
dept.click()

In [358]:
search_btn=driver.find_element_by_xpath("//div[@class='ab_chip active sbold-list-header']")
search_btn.click()

In [359]:
Companies=driver.find_elements_by_xpath("//div[@class='name']/a")

In [360]:
Company_name=[]
for i in Companies:
    Company_name.append(i.text)
Company_name

['Tekion',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Flipkart',
 'Amazon',
 'Arcesium',
 'PayPal',
 'Servicenow Software Development India',
 'Walmart',
 'ServiceNow']

In [361]:
sal_rec=driver.find_elements_by_xpath("//div[@class='name']/span")
rec=[]
for i in sal_rec:
    rec.append(i.text)
rec

['based on 10 salaries',
 'based on 224 salaries',
 'based on 11 salaries',
 'based on 54 salaries',
 'based on 85 salaries',
 'based on 37 salaries',
 'based on 12 salaries',
 'based on 27 salaries',
 'based on 79 salaries',
 'based on 16 salaries']

In [362]:
sal_min=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
min_sal=[]
for i in sal_min:
    min_sal.append(i.text)
min_sal

['₹ 14.0L',
 '₹ 12.0L',
 '₹ 16.0L',
 '₹ 7.0L',
 '₹ 8.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 10.0L',
 '₹ 11.2L']

In [363]:
sal_max=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
max_sal=[]
for i in sal_max:
    max_sal.append(i.text)
max_sal

['₹ 32.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 41.5L',
 '₹ 30.0L',
 '₹ 25.0L',
 '₹ 25.0L',
 '₹ 32.0L',
 '₹ 23.0L']

In [364]:
sal_avg=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']/p")
avg=[]
for i in sal_avg:
    avg.append(i.text)
avg

['₹ 23.3L',
 '₹ 22.4L',
 '₹ 21.9L',
 '₹ 20.6L',
 '₹ 19.4L',
 '₹ 18.5L',
 '₹ 18.4L',
 '₹ 18.3L',
 '₹ 17.9L',
 '₹ 17.8L']

In [365]:
sal_exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
exp=[]
for i in sal_exp:
#     i1=i.text.split('\n')
    exp.append(i.text.split('\n')[2])
exp

['4 yrs exp',
 '1-4 yrs exp',
 '2 yrs exp',
 '1-4 yrs exp',
 '1-4 yrs exp',
 '1 yr exp',
 '1 yr exp',
 '2-3 yrs exp',
 '1-4 yrs exp',
 '3 yrs exp']

In [366]:
df1=pd.DataFrame({'Company Name':Company_name,'Salary Record':rec,'Experience':exp,'Min Sal':min_sal,'Avg Sal':avg,'Max Sal':max_sal})
df1

,Company Name,Salary Record,Experience,Min Sal,Avg Sal,Max Sal
0,Tekion,based on 10 salaries,4 yrs exp,₹ 14.0L,₹ 23.3L,₹ 32.0L
1,Microsoft Corporation,based on 224 salaries,1-4 yrs exp,₹ 12.0L,₹ 22.4L,₹ 45.0L
2,Goldman Sachs,based on 11 salaries,2 yrs exp,₹ 16.0L,₹ 21.9L,₹ 30.0L
3,Flipkart,based on 54 salaries,1-4 yrs exp,₹ 7.0L,₹ 20.6L,₹ 30.0L
4,Amazon,based on 85 salaries,1-4 yrs exp,₹ 8.0L,₹ 19.4L,₹ 41.5L
5,Arcesium,based on 37 salaries,1 yr exp,₹ 12.0L,₹ 18.5L,₹ 30.0L
6,PayPal,based on 12 salaries,1 yr exp,₹ 12.0L,₹ 18.4L,₹ 25.0L
7,Servicenow Software Development India,based on 27 salaries,2-3 yrs exp,₹ 12.0L,₹ 18.3L,₹ 25.0L
8,Walmart,based on 79 salaries,1-4 yrs exp,₹ 10.0L,₹ 17.9L,₹ 32.0L
9,ServiceNow,based on 16 salaries,3 yrs exp,₹ 11.2L,₹ 17.8L,₹ 23.0L